<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-gradient"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Everything you need to kickstart your<br>SaaS Business</h2>
    <p class="tagline">Startup Kit helps developers to build beautiful and<br class="hidden-xs">user-friendly web apps quick and easily!</p>
    <div class="actions">
      <br class="visible-xs-block">
      <a href="pricing.html" class="btn btn-cta btn-ghost">Plans &amp; Pricing</a>
    </div>
  </div><!--//container-->
</section><!--//heading-section-->

<div class="page-nav-space-holder hidden-xs">
  <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
    <div class="container">
      <ul id="page-nav" class="page-nav nav list-inline">
        <li><a class="scrollto" href="#feature-block-1">Feature One</a></li>
        <li><a class="scrollto"  href="#feature-block-2">Feature Two</a></li>
        <li><a class="scrollto"  href="#feature-block-3">Feature Three</a></li>
        <li><a class="scrollto"  href="#feature-block-4">Feature Four</a></li>
      </ul><!--//page-nav-->
    </div>
  </div><!--//page-nav-wrapper-->
</div><!--//page-nav-space-holder-->

<div class="feature-blocks container">
  <div id="feature-block-1" class="feature-block feature-block-1">
    <div class="row">
      <div class="feature-content col-md-4 col-sm-6 col-xs-12">
        <h3 class="feature-title">Feature One Heading</h3>
        <div class="feature-desc">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a href="https://wrapbootstrap.com/theme/admin-appkit-admin-theme-angularjs-WB051SCJ1" target="_blank">Screenshot: Admin AppKit Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div><!--//feature-desc-->
      </div><!--//feature-content-->
      <div class="feature-figure col-md-8 col-sm-6 col-xs-12">
        <div class="figure-holder">
          <%= image_tag 'features/feature-1.png', class: 'img-responsive' %>
        </div><!--//figure-holder-->
      </div>
    </div><!--//row-->
  </div><!--//feature-block-1-->
  <div id="feature-block-2" class="feature-block feature-block-2">
    <div class="row">
      <div class="feature-content col-md-4 col-sm-6 col-xs-12 col-md-push-8 col-sm-push-6 col-xs-push-0">
        <h3 class="feature-title">Feature Two Heading</h3>
        <div class="feature-desc">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a href="https://wrapbootstrap.com/theme/admin-appkit-admin-theme-angularjs-WB051SCJ1" target="_blank">Screenshot: Admin AppKit Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div><!--//feature-desc-->
      </div><!--//feature-content-->
      <div class="feature-figure col-md-8 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
        <div class="figure-holder">
          <%= image_tag 'features/feature-2.png', class: 'img-responsive' %>
        </div><!--//figure-holder-->
      </div>
    </div><!--//row-->
  </div><!--//feature-block-2-->
  <div id="feature-block-3" class="feature-block feature-block-3">
    <div class="row">
      <div class="feature-content col-md-4 col-sm-6 col-xs-12">
        <h3 class="feature-title">Feature Three Heading</h3>
        <div class="feature-desc">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a href="https://wrapbootstrap.com/theme/admin-appkit-admin-theme-angularjs-WB051SCJ1" target="_blank">Screenshot: Admin AppKit Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div><!--//feature-desc-->
      </div><!--//feature-content-->
      <div class="feature-figure col-md-8 col-sm-6 col-xs-12">
        <div class="figure-holder">
          <%= image_tag 'features/feature-3.png', class: 'img-responsive' %>
        </div><!--//figure-holder-->
      </div>
    </div><!--//row-->
  </div><!--//feature-block-3-->
  <div id="feature-block-4" class="feature-block feature-block-4">
    <div class="row">
      <div class="feature-content col-md-4 col-sm-6 col-xs-12 col-md-push-8 col-sm-push-6 col-xs-push-0">
        <h3 class="feature-title">Feature Four Heading</h3>
        <div class="feature-desc">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, <a href="https://wrapbootstrap.com/theme/admin-appkit-admin-theme-angularjs-WB051SCJ1" target="_blank">Screenshot: Admin AppKit Theme</a> consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div><!--//feature-desc-->
      </div><!--//feature-content-->
      <div class="feature-figure col-md-8 col-sm-6 col-xs-12 col-md-pull-4 col-sm-pull-6 col-xs-pull-0">
        <div class="figure-holder">
          <%= image_tag 'features/feature-4.png', class: 'img-responsive' %>
        </div><!--//figure-holder-->
      </div>
    </div><!--//row-->
  </div><!--//feature-block-4-->

</div><!--//feature-blocks-->