<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-gradient"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Minecraft Art + Code Camp</h2>
    <p class="tagline">For 2nd - 5th graders, learn how to mod Minecraft and<br>craft against Creepers for $175, June 26th - June 30th</p>
  </div><!--//container-->
</section><!--//heading-section-->

<div class="feature-blocks container">
  <div class="row">
    <h3 class="text-center">Join our Minecraft Art + Code Camp this summer for $175</h3>
    <br>
    <div class="typeform-widget" data-url="https://fourathens.typeform.com/to/XX88w3" data-transparency="50" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
  </div>
</div><!--//feature-blocks-->