<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-gradient"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Minecraft Art + Code Camp</h2>
    <p class="tagline">For 2nd - 5th graders, learn how to mod Minecraft and<br>craft against Creepers for $175, June 26th - June 30th</p>
  </div><!--//container-->
</section><!--//heading-section-->

<div class="feature-blocks container">
  <div class="row">
    <h3 class="text-center">Join our Minecraft Art + Code Camp this summer for $175</h3>
    <h2 class="text-center">Registration is now closed</h2>
</div><!--//feature-blocks-->