<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-gradient"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Teen Tech Camp</h2>
    <p class="tagline">Learn the basics of web design and web programming<br>for $479, July 10 - July 21</p>
  </div><!--//container-->
</section><!--//heading-section-->

<div class="feature-blocks container">
  <div class="row">
    <h3>Join our Teen Tech Camp this summer for $479</h3>
    <div class="typeform-widget" data-url="https://fourathens.typeform.com/to/BMUmZ5" data-transparency="50" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div>
    <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id="typef_orm",b="https://s3-eu-west-1.amazonaws.com/share.typeform.com/";if(!gi.call(d,id)){js=ce.call(d,"script");js.id=id;js.src=b+"widget.js";q=gt.call(d,"script")[0];q.parentNode.insertBefore(js,q)}})()</script>
  </div>
</div><!--//feature-blocks-->