<%= content_for :title, "Startup Internship Program | Four Athens" %>

<section class="heading-section section section-on-bg">
  <div class="hero-wrapper">
    <div class="hero-holder"></div>
    <div class="hero-mask-gradient"></div>
  </div><!--//hero-wrapper-->
  <div class="container heading-content">
    <h2 class="headline">Startup Internship Program</h2>
    <p class="tagline">Learn what it's like to be part of a startup</p>
  </div><!--//container-->
</section><!--//heading-section-->

<div class="feature-blocks container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">Startup Internship Program</h2>
      <p>The Four Athens Startup Internship Program (SIP) aims to develop interdisciplinary teams, managed by Four Athens, to work on encapsulated projects for companies that apply to participate in SIP.</p>
      <hr>
      <h3>Team Format</h3>
      <p>Each team will consist of 4 team members, and will be led by a Graduate student, either an MPA or MBA candidate. These candidates will either be seeking to satisfy a service learning component of their program, or a directed study for their program. The rest of the team will be comprise a mix of Marketing/Journalism/Communications, MIS/Computer Science, and Arts/Graphic Design undergraduate students.</p>
      <hr>
      <h3>Program Format</h3>
      <p>Company applications will <strong>open July 5th and close August 7th</strong>. Once a company is selected, they will have to submit their full project plan and $1500 administrative fee by August 11th.</p>
      <p>Team applications, including team leaders, will <strong>open July 31st and close September 8th</strong>. Team leader applications will close September 6th. Team leaders will participate in the interview and selection process, which will consist of an interview of candidates culled from the pool of applicants, based on the projects received from company partners.</p>
      <p>The cohort kick off will be September 12th at 6pm. Cohort meetings will occur every other Tuesday night, from 6pm to 8pm. Teams will be required to meet weekly outside of cohort meetings, as well as regular check ins with their project company. Team leaders will meet weekly with the Executive Director of Four Athens to discuss progress, roadblocks, and resources needed for their project’s success, as well as get feedback from fellow team leaders.</p>
      <p>Team leaders are expected to spend at least 5 hours a week managing and directing their teams. Team members are expected to spend 5 to 10 hours a week accomplishing their tasks and reporting their roadblocks and progress to team leaders.</p>
      <p>The cohort demo day will be November 28th at 6pm. Teams will present their projects to the cohort and their project stakeholders. A one page reflective paper and Powerpoint (or equivalent technology) presentation will be submitted by the end of the semester to satisfy learning objectives.</p>
      <p>Download an example project brief: <%= link_to "Example Project Brief", "/exampleprojectbrief.pdf", download: "" %></p>
      <hr>
      <p>If you are interested in the program, and have questions, email us: <a href="mailto:hello@fourathens.com">hello@fourathens.com</a></p>
    </div>
    <div class="col-sm-6 text-center">
      <h3>Company Applications: Open July 5th - August 7th</h3>
      <p></p>
      <p>Applications are now closed! Check back soon for participation in the next cohort!</p>
    </div>
    <div class="col-sm-6 text-center">
      <h3>Student Applications: Open July 31st - September 8th</h3>
      <p></p>
      <a class="typeform-share button" href="https://fourathens.typeform.com/to/eVNCV0" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#267DDD;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:25px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Intern Application </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>
</div><!--//feature-blocks-->
