<h1>Available plans</h1>
<% @plans.each do |plan| %>

  <h3>Name: <%= plan.name %></h3>
  <h4>Cost: <%= number_to_currency(plan.price/100) %>/<%= plan.frequency %></h4>

  Details:
  <ul>
    <% plan.plan_details.each do |pd| %>
      <li><%= pd.content %></li>
    <% end %>
  </ul>
<% end %>