<li class="nav-item"><%= link_to 'About', page_path('about') %></li>
<li class="nav-item"><%= link_to 'Benefits', page_path('benefits') %></li>
<li class="nav-item"><%= link_to 'Pricing', page_path('pricing') %></li>
<li class="nav-item dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">More <i class="fa fa-angle-down"></i></a>
  <ul class="dropdown-menu">
    <li><a href="about.html">About Us</a></li>
    <li><a href="story-single.html">Customer Story Single</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="blog-single.html">Blog Single</a></li>
    <li><a href="support.html">Support Center</a></li>
    <li><a href="career.html">Career</a></li>
    <li><a href="job-single.html">Job Single</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
</li><!--//dropdown-->